---
layout: page
title: About
---
<section>
<h4>Über Mich</h4>


<p>
Ich bin Vinh Hien Leduc – oder einfach auch nur Hien und seit Frühjahr 2018
Sportökonom, aber Sport mache ich schon seit dem ich 4 bin und habe dabei
jegliche Bereiche ausprobiert. Mein Weg führte mich dann mit 14 zum Kampfsport,
dem ich bis heute treu bin. Durch Schule, FSJ und letztlich Studium kamen auch
die Bereiche Kraft-, funktionelles- und Gesundheitstraining hinzu.

</p>

</section>
