--- 
layout: landing 
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <p>{{ site.description | markdownify }}</p>
        <!--
        <ul class="actions">
            <li><a href="#" class="button special">Activate</a></li>
        </ul>
      -->
    </div>
    <a href="#one" class="more scrolly">More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
                Push your limits </h2>
            <p>
                Tell me, O Muse, of that ingenious hero who travelled far and wide after he had
                sacked the famous town of Troy. Many cities did he visit, and many
                were the nations with whose manners and customs he was acquainted;
                moreover he suffered much by sea while trying to save his own life
                and bring his men safely home; but do what he might he could not
                save his men, for they perished through their own sheer folly in
                eating the cattle of the Sun-god Hyperion; so the god prevented
                them from ever reaching home. Tell me, too, about all these things,
                oh daughter of Jove, from whatsoever source you may know them.
            </p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-diamond major style1"><span class="label">Recovery</span></span>
            </li>
            <li><span class="icon fa-heart-o major style2"><span class="label">Endurance</span></span>
            </li>
            <li><span class="icon fa-code major style3"><span class="label">Power</span></span>
            </li>
        </ul>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="images/pic01.jpg" alt="" /></div>
        <div class="content">
            <h2>Naechste Generation</h2>
            <p>Bei meinem jahrelangem Training mit Kindern und Jugendlichen ist
            mir immer mehr klar geworden  wie viel wir von den Jüngeren lernen
            können- Probleme aus einem anderen Winkel betrachten und den Kopf
            auch einfach mal abschalten.  Ich habe mir zum Ziel gesetzt mein
            gelerntes weiter zu geben und das Beste aus den jungen Menschen zu
            holen und sie auf die Zukunft vorzubereiten, denn Sie sind die
            Bausteine der nächsten Generation.</p> 
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic02.jpg" alt="" /></div>
        <div class="content">
            <h2>Kampfsport</h2>
            <p>Sport heißt für mich Spaß und das möchte ich Ihnen mit
            Kampfsport zeigen. Dabei geht es nicht um sinnloses Geprügel,
            sondern mit  gezielten Techniken Sie voran bringen.  Das Training
            wird so auf Sie angepasst, dass Sie sich wohl fühlen, neues dazu
            lernen und Kampfsport ein wenig näher kommen. </p>         </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic03.jpg" alt="" /></div>
        <div class="content">
            <h2>Bewergung</h2>
            <p>Ich lege viel Wert auf Vielfalt an Bewegung; die Welt von Sport
            ist miteinander vernetzt und aufeinander übertragbar. Sie werden
            lernen wie alltägliche oder bereits vertraute Bewegung, mit
            richtigem Einsatz Ihre Leistung und Bewegungsverständnis
            verbessern.  Es ist aber auch immer wieder spannend neues zu lernen
            und sich selber neu zu entdecken.</p>

        </div>
    </section>
</section>



<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2> Contact</h2>
            <p>

                <form method="post" action="#">
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name"
                            />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email"
                            />
                        </div>
                        <div class="6u 12u$(small)">
                            <input type="checkbox" id="demo-copy" name="demo-copy">
                            <label for="demo-copy">Email me a copy</label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="demo-human" name="demo-human" checked>
                            <label for="demo-human">Not a robot</label>
                        </div>
                        <div class="12u$">
                            <textarea name="demo-message" id="demo-message" placeholder="Enter your message"
                                rows="6"></textarea>
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" class="special"
                                    /></li>
                                <li></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </p>
            <p> Site Owner <a href="{{site.email}}">{{site.owner}}</a></p>
        </header>
        <ul class="actions vertical">
            <li>
              <h4>Email</h4> <a href="#" class=" fit special">{{site.owner}}@mail.com</a></li>
            <li><a href="#" class=" fit">Learn More</a></li>
        </ul>
    </div>
</section>
